.mine-board-cell {
  aspect-ratio: 1;
  margin: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-icon {
    width: 100%;
    height: fit-content;
    font-size: 15vw;
    text-align: center;
  }
}
button {
  width: 100%;
  aspect-ratio: 1;
  height: unset;
  mat-icon {
    font-size: 3em;
    width: 100%;
    height: fit-content;
  }
  &:not(.open) {
    background-color: var(--deep-navy-blue);
    mat-icon {
      color: var(--olive-green);
    }
  }
  &.open {
    background-color: transparent;
    mat-icon,
    .adjcent-cell-count {
      color: var(--deep-navy-blue);
    }
  }
}
