<div class="container">
  <section class="header">
    <div class="timer">
      <span class="material-symbols-outlined">timer</span>
      <span>{{mineBoard.timer.seconds | mineBoardTimer}}</span>
    </div>
  </section>
  <section class="board">
    <div class="grid">
      <div class="row" *ngFor="let rows of mineBoard.cells | mineBoardRow">
        <div class="col" *ngFor="let cell of rows">
          <app-mine-board-cell [mineBoard]="mineBoard" [mineBoardCell]="cell" (openCell)="openCell($event)" (toggleFlag)="toggleFlag($event)" />
        </div>
      </div>
    </div>
  </section>
  <section class="footer">
    <button type="button" mat-fab extended aria-label="Open options dialog button" title="Open options dialog button" (click)="openOptionsDialog()">
      <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
      <span>Settings</span>
    </button>
    <button type="button" mat-fab extended aria-label="Open options dialog button" title="Restart board" (click)="restart()">
      <mat-icon fontSet="material-symbols-outlined">restart_alt</mat-icon>
      <span>Restart</span>
    </button>
  </section>
</div>
