.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  .header {
    .timer{
      padding: .8em .4em;
      display: inline-flex;
      align-items: center;
      span{
        font-weight: bolder;
        font-size: large;
      }
      .material-symbols-outlined {
        margin-right: 0.2em;
      }
    }
  }
  .board {
    flex-grow: 1;
    overflow: auto;
  }
  .footer {
    margin: 0.5em auto;
    button{
      color: white;
      background-color: var(--deep-navy-blue);
    }
    button:first-child {
      margin-right: 0.5em;
    }
    button:last-child {
      margin-left: 0.5em;
    }
  }
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .col {
      padding: 2px;
      max-width: 100px;
      flex-grow: 1;
    }
  }
}
